<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.boboyuwu.zhihunews">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:name="com.boboyuwu.xnews.app.NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomDayNightTheme">
        <activity android:name="com.boboyuwu.xnews.ui.activity.homepageactivity.SplashActivity"
                  android:theme="@style/SplashCustomDayNightTheme">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.boboyuwu.xnews.ui.activity.homepageactivity.MainActivity"/>
        <activity
            android:name="com.boboyuwu.xnews.ui.activity.homepageactivity.AddChannelActivity"/>

        <activity android:name="com.boboyuwu.xnews.ui.activity.baseactivity.WebViewActivity"
                  />

        <activity android:name="com.boboyuwu.xnews.ui.activity.homepageactivity.NewsDetailActivity"
                  />
        <activity android:name="com.boboyuwu.xnews.ui.activity.homepageactivity.NewsPhotoViewActivity"
            />

    </application>

</manifest>